version: "3"

services:
  backend:
    image: nikitamishra/crud-backend:latest   # <-- Docker Hub image
    ports:
      - "8082:8080"   # hostPort:containerPort
    environment:
      - MONGO_URL=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo

  frontend:
    image: nikitamishra/crud-frontend:latest  # <-- Docker Hub image
    ports:
      - "8081:80"

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data:
